.page1
{
    width: 100%;
    height: 1400px;
}
.half1
{
    width: 100%;
    height: 800px;
    background-color: #373a36;
    display: inline-block;
}
.half2
{
    width: 50%;
    height: 800px;
    background-color: #d48166;
    display: inline-block; 
}
#image
{
    padding-right: 600px;
    transform: rotateY(180deg);
    padding-top: 200px;
    position: absolute;
}
#text1
{
    font-size: 2.25rem;
    font-family: Roboto,sans-serif;
    font-weight: 400;
    line-height: 1.2;
    color: white;
    padding-top: 350px;
    padding-left: 30px;
}
#text2
{
    font-size: 4rem;
    line-height: 1;
    font-weight: 300;
    font-family: Roboto,sans-serif;
    color: white;
    padding-left: 30px;
}
#text3
{
    font-weight: 400;
    letter-spacing: inherit;
    color: white;
    font-size: 1.25rem;
    line-height: 1.2;
    font-family: Roboto,sans-serif;
    padding-left: 30px;   
}
#text4
{
    padding-left: 1100px;
    font-weight: 400;
    line-height: 1.2;
    font-family: Roboto,sans-serif;
    color: white;
    font-size: 5rem;
    margin-top: -250px;
}
#text5
{
    font-weight: 400;
    letter-spacing: inherit;
    color: white;
    font-size: 1.25rem;
    line-height: 1.2;
    font-family: Roboto,sans-serif;
    padding-left: 1065px; 
    width: 700px;
    margin-top: -90px;
}
.page2
{
    width: 100%;
    height: 1400px;
}
.half3
{
    width: 100%;
    height: 800px;
    background-color: #373a36;
    background-color: #c39ea0;
    display: inline-block;
}
.half4
{
    width: 50%;
    height: 800px;
    background-color: #373a36;
    display: inline-block; 
}
#image1
{
    padding-left: 140px;
    position: absolute;
    margin-top: -50px;
}
#text6
{
    padding-left: 900px;
    width: 1000px;
    font-weight: 800;
    font-size: 2.3rem;
    line-height: 1.2;
    font-family: Oswald, sans-serif;
    color: white;
    margin-top: 100px;
}
#text7
{
    width: 600px;
    font-weight: 400;
    font-size: 6rem;
    line-height: 1.0;
    font-family: Oswald, sans-serif;
    color: white;
    padding-left: 700px;
    text-align:right;
    
}
#text8
{
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.2;
    font-family: Courier New, monospace;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    padding-left: 700px;
    width: 600px;
    text-align: right;
}
#text9
{
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.2;
    font-family: Oswald, sans-serif;
    color: white;
    padding-left: 1200px;
    width: 500px;
}
.image4
{
    padding-left: 1000px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("/Users/yuvarajmurugan/Downloads/4.png");
    width: 2px;
    height: 50px;
    margin-left: 1070px;
}
.page3
{
    width: 100%;
    height: 790px;
}
.half5
{
    width: 100%;
    height: 785px;
    background-color: #373a36;
    display: inline-block;
}
.half6
{
    width: 50%;
    height: 785px;
    background-color: #8db48e;;
    display: inline-block; 
}
#image2
{
    padding-left: 870px;
    position: absolute;
    margin-top: 60px;
}
#image3
{
    padding-left: 300px;
    position: absolute;
    margin-top: 25px;
}
#text10
{
    color: white;
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 1.2;
    font-family: Oswald, sans-serif;
    margin-top: 140px;
    margin-left: 60px;
}
#text11
{
    font-weight: 400;
    font-size: 6rem;
    font-style: bold;
    font-family: Oswald, sans-serif;
    width: 300px;
    color: white;
    margin-left: 50px;
}
#text12
{
    font-weight: 400;
    letter-spacing: inherit;
    color: white;
    font-size: 1.25rem;
    line-height: 1.2;
    font-family: Roboto,sans-serif;
    padding-left: 60px; 
    width: 150px;
}
.page4
{
    width: 100%;
    height: 790px;
}
.half7
{
    width: 100%;
    height: 800px;
    background-color: #acbfe6;
    display: inline-block;
}
.half8
{
    width: 50%;
    height: 800px;
    background-color: #373a36;
    display: inline-block; 
}
#image4
{
    padding-left: 50px;
    position: absolute;
    margin-top: 200px;   
}
#image5
{
    padding-left: 180px;
    position: absolute;
    margin-top: 80px;
    
}
#text13
{
    color: black;
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 1.2;
    font-family: Oswald, sans-serif;
    padding-left: 1250px;
    width: 500px;
    padding-top: 100px;
}
#text14
{
    color: black;
    font-size: 4.5rem;
    font-weight: 400;
    line-height: 1.0;
    font-family: Oswald, sans-serif;
    width: 400px;
    padding-left: 980px;
    text-align: right;
}
#text15
{
    font-weight: 400;
    letter-spacing: inherit;
    color: white;
    font-size: 1.25rem;
    line-height: 1.2;
    font-family: Roboto,sans-serif;
    padding-left: 1200px; 
    width: 150px;
    text-align: right;
    color: black;
}
#text16
{
    font-weight: 400;
    letter-spacing: inherit;
    color: white;
    font-size: 1.25rem;
    line-height: 1.2;
    font-family: Roboto,sans-serif;
    padding-left: 1210px; 
    width: 150px;
    text-align: left;
    color: black;
}
.page5
{
    width: 100%;
    height: 790px;
}
.half9
{
    width: 100%;
    height: 800px;
    background-color: #373a36;
    display: inline-block;
}
.half10
{
    width: 50%;
    height: 800px;
    background-color: #d48166;
    display: inline-block; 
}
#image6
{
    padding-left: 30px;
    position: absolute;
    margin-top: 10px;
}
#image7
{
    padding-left: 600px;
    position: absolute;
    margin-top: 6px;
}
#text17
{
    color: white;
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 1.2;
    font-family: Oswald, sans-serif;
    margin-left: 60px;
    margin-top: 260px;
}
#text18
{
    font-weight: 400;
    font-size: 6rem;
    line-height: 1.0;
    font-family: Oswald, sans-serif;
    color: white;
    width: 500px;
    margin-left: 60px;
}
#text19
{
    font-weight: 400;
    letter-spacing: inherit;
    color: white;
    font-size: 1.25rem;
    line-height: 1.2;
    font-family: Roboto,sans-serif;
    padding-left: 60px;  
}